<header>
  <img src="../../../../assets/tittle.png" alt="Logo de la app, adóptame, con una huella en vez de la o"/>
  <nav>
    <button
      [routerLink]="['/home']"
      [ngClass]="{'btn-active':router.url === '/home'}">
      Inicio
    </button>
    <button
      [routerLink]="['/home/aboutUs']"
      [ngClass]="{'btn-active':router.url === '/home/aboutUs'}">
      Quienes somos
    </button>
    <button
      [routerLink]="['/dashboard']"
      [ngClass]="{'btn-active':router.url === '/dashboard'}">
      Adoptar
    </button>
    <ng-container *ngIf="!showHeaderForUserType else onlineUser">
      <button
        (click)="openModalRegister()"
        data-bs-toggle="modal"
        data-bs-target="#myModal">
        Registrarse
      </button>
      <button
        (click)="openModalLogin()"
        data-bs-toggle="modal"
        data-bs-target="#myModal">
        Iniciar sesión
      </button>
    </ng-container>
    <ng-template #onlineUser>
      <button
        *ngIf="showEditButton"
        [routerLink]="['/dashboard/adopts-forms']">
        Editar perfil
      </button>
      <button
        (click)="btnLogOut()"
        class="btn-logOut">
        {{userName}}
        <span
          class="material-symbols-outlined">
          logout
        </span>
      </button>
    </ng-template>
  </nav>
</header>


<div class="modal fade" tabindex="-1" id="myModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-left">
          <img src={{nameImg}} alt="Perro y gato felices"/>
        </div>
        <div class="modal-rigth">
          <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
          <app-login *ngIf="showAuthLogin" #loginComponent></app-login>
          <app-register *ngIf="showAuthRegister" #registerComponent></app-register>
          <div class="link-container">
            <a class="link-auth" (click)="openModalRegister()" *ngIf="showAuthLogin">¿No tienes cuenta? Regístrate</a>
            <a class="link-auth" (click)="openModalLogin()" *ngIf="showAuthRegister">¿Ya tienes cuenta? Inicia sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

