header{
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header img{
  width: 12%;
  margin-inline: 10px;
  padding: .5% 0 .5% 15px;
}

header nav{
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

header nav button{
  width: 100%;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  height: 100%;
  border: none;
  font-size: 3vh;
  background-color: var(--color-primary);
  font-family: var(--font-family-primary);
  color: var(--color-secondary);
}

header nav button:hover{
  background-color: #01827B;
  cursor: pointer;
}

.btn-active{
  background-color: #01827B;
}

.modal-container{
  display: flex;
  background-color: var(--color-secondary);
  width: 100%;
}

.modal-left{
  width: 50%;
  padding: -30px;
}

.modal-left img{
  width: 100%;
}

.modal-rigth{
  background-image: url("../../../../assets/backgroundModal.png");
  background-position: center;
  width: 50%;
}




