header{
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header img{
  width: 12%;
  margin: 4px 10px;
  padding: .5% 0 .5% 15px;
}

header nav{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

header nav button:hover{
  background-color: #01827B;
  cursor: pointer;
}

.btn-active{
  background-color: #01827B;
}

header nav button{
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  font-weight: 600;
  height: 100%;
  border: none;
  font-size: 3vh;
  font-family: var(--font-family-primary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  white-space: nowrap;
}

.btn-logOut{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.modal-container{
  display: flex;
  background-color: var(--color-secondary);
  width: 100%;
}

.modal-left{
  width: 50%;
  padding: -30px;
}

.modal-left img{
  width: 100%;
}

.modal-rigth{
  background-image: url("../../../../assets/backgroundModal.png");
  background-position: center;
  width: 50%;
}

.modal-rigth button{
  right: 0;
  margin-left: 92%;
  margin-top: 10px;
}

.link-container{
  text-align: center;
  margin-top: 30px;
}

.link-auth{
  color: inherit;
  font-size: small;
  cursor: pointer;
  font-family: var(--font-family-primary);
}




