<header>
  <img src="../../../../assets/tittle.png" alt="Logo de la app, adóptame, con una huella en vez de la o"/>
  <nav>
    <button
      [routerLink]="['/home']"
      [ngClass]="{'btn-active':router.url === '/home'}">
      Inicio
    </button>
    <button
      [routerLink]="['/home/aboutUs']"
      [ngClass]="{'btn-active':router.url === '/home/aboutUs'}">
      Quienes somos
    </button>
    <button
      [routerLink]="['/dashboard']"
      [ngClass]="{'btn-active':router.url === '/dashboard'}">
      Adoptar
    </button>
    <button
      [routerLink]="['/home/register']"
      [ngClass]="{'btn-active':router.url === '/home/register'}">
      Registrarse
    </button>
    <button
      (click)="openModal()"
      data-bs-toggle="modal"
      data-bs-target="#myModal">
      Iniciar sesión
    </button>
  </nav>
</header>


<div class="modal fade" tabindex="-1" id="myModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-container">
        <div class="modal-left">
          <img src="../../../../assets/imgLogin.jpg" alt="Perro y gato felices"/>
        </div>
        <div class="modal-rigth">
          <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModal2Label">Login Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  id="inputEmail4">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
           </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="inputPassword4">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
           </div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 -->
