
/* Pront Page */
main {
    background-image: url('../../../../assets/backgroundModal.png');
}

.frontPage{
    width: 99.9%;
}
.text {
    color: var(--color-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

h1.phrase {
    font-size: 200%;
}

.btns {
    background-color: transparent;
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 40px/50px;
    border-color: var(--font-family-primary);
    
}

/* Statistics */
.waitingToBeAdopted, .registeredShelters, .registeredUsers {
    margin-top: 6%;
    margin-left: 16%;
    width: 12%;
}

/* Information */
.card {
    background-color: transparent;
    border-color:transparent;
    max-width: 70%;
    margin-top: 4%;
    margin-left: 15%;
}

.card-text {
    margin-top: 15%;
    margin-left: 12%;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 107%;
}

button.active, .buttonsAdop {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

/* Activities */
.titleA{
    text-align: center;
    font-family: var(--font-family-secondary);
    margin-top: 5%;
}


/* Animals in adoptions */

span.carousel-control-prev-icon {
    background-color: var(--color-primary);
    margin-left: -62%;
 }

span.carousel-control-next-icon {
   background-color: var(--color-primary);
   margin-left: 62%;
}


