.container {
    background-image: url('../../../../assets/backgroundModal.png');
}
.cover {
    position: relative;
    color: var(--color-secondary);
    height: 500px;
    background-image: url('../../../../assets/frontPage.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cover h1 {
    font-size: 36px;
    padding-inline: 5%;
}

.cover button {
    margin: 2% 0% 0% 0%;
    background-color: transparent;
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 40px/50px;
    border-color: var(--font-family-primary);
}


.container:last-child {
    border-bottom: none; /* Elimina el borde inferior del último contenedor */
}


/* Statistics */
.waitingToBeAdopted, .registeredShelters, .registeredUsers {
    margin-top: 12%;
    margin-left: 16%;
    width: 12%;
}

/* Information */
.card {
    background-color: transparent;
    border-color:transparent;
    max-width: 70%;
    margin-top: 12%;
    margin-left: 15%;
}

.card-text {

    margin-left: 12%;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 107%;
}

/* Activities */
.titleA{
    text-align: center;
    font-family: var(--font-family-secondary);
    margin-top: 5%;
}


/* Animals in adoptions */

span.carousel-control-prev-icon {
    background-color: var(--color-primary);
    margin-left: -62%;
 }

span.carousel-control-next-icon {
   background-color: var(--color-primary);
   margin-left: 62%;
}

@media (max-width: 768px) {
    .cover .content {
        padding: 10px;
    }

    .cover h1 {
        font-size: 18px;
    }

}

@media (max-width: 375px) {
    .carousel-item {
        flex-direction: column;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: block;
    }

    .btnAdopt{
        font-size: 10%;
        padding: 4%;
    }
}
