
/* Pront Page */
.frontPage{
    width: 99.9%;
}
.text {
    color: var(--color-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

h1.phrase {
    font-size: 260%;
}

.btns {
    background-color: transparent;
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 40px/50px;
    border-color: var(--font-family-primary);
    
}

/* Statistics */
.waitingToBeAdopted, .registeredShelters, .registeredUsers {
    margin-top: 6%;
    margin-left: 16%;
    width: 12%;
}

/* Information */
.info{   
    margin-left: 17%; 
    width: 80%;
}
.animals{
    width: 20%;
    height: 10%;
    margin-top: 8%;
    vertical-align: middle;
}

.textBox {
  display: inline-block;
  text-align: center;
  width: calc(100% - 200%);
  margin-left: 22%;  
}


/* Activities */
.titleA{
    margin-top: 2%;
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    text-align: center;
}

/* Slider of Activity */
.slider {
    margin-left: 19%;
    text-align: center;  
    position: relative;
    width: 60%;
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid var(--color-tertiary) 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background-color: var(--color-secondary);
}

#donations:checked ~ .donations {
    margin-left: 0;
}

#voluntary:checked ~ .voluntary {
    margin-left: -100%;
}

#temporaryHouse:checked ~ .temporaryHouse {
    margin-left: -200%;
}




