<main>
    <img src="../../../../assets/frontPage.png" class="frontPage">
    <section>
        <div class="container text text-center ">
            <h1 class="phrase">
                Adoptar una mascota es más que el hecho de asumir una responsabilidad. 
                Es aprender a querer y a preocuparte por alguien más. 
                Tener un animal de compañía nos hace ser menos egoístas y nos enseña a dar lo mejor de nosotros, 
                por el bien de otro ser.
            </h1>
            <button class="btns">Quiero Adoptar</button>
        </div>

        <div class="statistics">
            <img src="../../../../assets/waitingToBeAdopted.jpg" class="waitingToBeAdopted">

           <img src="../../../../assets/registeredShelters.jpg" class="registeredShelters">

           <img src="../../../../assets/registeredUsers.jpg" class="registeredUsers">

        </div>

        <div class="info">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../../../assets/animals.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        
                        <p class="card-text">
                            El amor por los animales es diferente a cualquier otro que hayas experimentado. 
                            Más puro, menos condicionado y, en ocasiones, más gratificante. 
                            En su mirada no encontrarás juicios, exigencias o resentimiento. 
                            Solo hallarás afecto y aceptación; por esto, 
                            para muchas personas es más sencillo vincularse con los animales que con los seres humanos.
                        </p>
                        
                      </div>
                  </div>
                </div>
              </div>
        </div>
      
        <div class="activityAdop">
            <h1 class="titleA">Sino puedes adoptar, puedes ayudar de otras maneras</h1>
            
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active buttonsAdop" aria-current="true" ></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="buttonsAdop" ></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="buttonsAdop"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../../assets/donations.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/voluntary.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../../assets/temporaryHouse.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                
              </div>
             
        </div>

        <div class="animalsAdopt">
           <h1 class="titleA">Conoce algunos rescataditos en adopción</h1>
                        
           <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                   </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                   </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                   </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </section>

<br>
</main>
