main {
    background-image: url(../../../../assets/backgroundModal.png);
}
.Phrase-btn{
  background-image: url(../../../../assets/frontPage.png);
}
.imgAdd {
    width: 27%;
    margin: 5% 0%;
  }
  
  .imgPhoto1{
    margin: 5% 0% 0% 0%;
    right: 50%; 
    width: 80%;
   
  }
  
  .imgPhoto2{
    margin: 5% 0% 0% 0%;  
    right: 50%;
    width: 80%;
   
  }

  .imgPhoto3{
    margin: 20% 0% 0% 0%;
    right: 50%;
    width: 80%;
   
  }

  .imgPhoto4{
    margin: 20% 0% 0% 0%;
    right: 50%;
    width: 80%;
   
  }
 

  .btnImg1,  .btnImg2{
    margin: 26% 0% 10% 0%;
  }
  
 
  .btnImg3, .btnImg4{
    margin: 26% 0% 10% 0%;
  }


.col-4 {
    border-right: var(--color-tertiary) 2px solid;
}

.form-title{
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.form-label {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    font-weight: bold;
}

.btn-save{
    border-color: var(--color-primary);
    border-radius: 40px;
    height: 35px; 
}

.btn-post{
    margin-left: 17%;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 45px;
    width: 50%;
    border-radius: 40px;
}

/* Style for Country and City */
.selectSyS, .selectAyP,.selectPyC {
  padding-inline: 0% 10%;
}
.aaa{
  height: 38px;
}
span.carousel-control-prev-icon {
    background-color: var(--color-primary);
    margin-left: -62%;
 }

span.carousel-control-next-icon {
   background-color: var(--color-primary);
   margin-left: 62%;
}



@media screen and (max-width: 600px) {
  .dataAnimal1, .dataAnimal2 {
      width: 100%;
  }
  
  .btn-post{
    margin-left: 15%;
    height: 45px;
    width: 50%
  }
  
}

 