<h1 class="form-title">RESCATADITOS EN ADOPCIÓN</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <br>
          <div class="container ">           
            <div class="row">
              <!-- Photho, Descriptions of animal and history -->
              <div class="col-6">
                    <!-- Photo of animal -->
                    <div class="container text-center">       
                      <div class="row">
                         <!-- Photo 1 -->
                        <div class="col-6">
                          <img [src]="imgAnimal1"   class="rounded mx-auto d-block imgPhoto1 " alt="...">
                        
                          <input class="form-control btnImg1" type="file" id="formFile" (change)="uploadImage1($event)" formControlName="image1">
                        </div>
                            <!-- Photo 2 -->
                            <div class="col-6">
                              <img [src]="imgAnimal2"   class="rounded mx-auto d-block imgPhoto2 " alt="...">
                              
                              <input class="form-control btnImg2" type="file" id="formFile" (change)="uploadImage2($event)" formControlName="image2">
                            </div>
                      </div>
                    </div>
                
                    <div class="container text-center">       
                      <div class="row">
                         <!-- Photo 3 -->
                        <div class="col-6"> 
                          <img [src]="imgAnimal3"   class="rounded mx-auto d-block imgPhoto3 " alt="...">
                           
                          <input class="form-control btnImg3" type="file" id="formFile" (change)="uploadImage3($event)" formControlName="image3">
                        </div>
                              <!-- Photo 4 -->
                              <div class="col-6">
                                <img [src]="imgAnimal4" class=" rounded mx-auto d-block imgPhoto4" alt="...">
                                
                                <input class="form-control btnImg4" type="file" id="formFile" (change)="uploadImage4($event)" formControlName="image4">
                              </div>
                      </div>
                    </div>
                     <br>
                    <!-- Description of animal -->
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Descripción del rescatadito(a)</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
                    </div>

                    <!-- Story of his rescue -->
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Historia de su rescate</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="history"></textarea>
                    </div>
              </div>


              <!-- Species, Name, sexo, edad, peso, castrado, vacunas  -->
              <div class="col-6"> 

                  <!-- Species -->
                  <div class="select-container">
                    <label for="exampleFormControlInput1" class="form-label text-center">Especie</label>
                    <select class="form-select form-select-sm " aria-label="Small select example" formControlName="species" >
                      <option value="perro">Perro</option>
                      <option value="gato">Gato</option>
                    </select>
                  </div>
                  <br>
                  <!-- Name -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Nombre del rescatadito(a)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
                  </div> 


                  <!-- Size and Sexo -->
                  <div class="container text-center selectSyS">
                    <div class="row row-cols-2">
                      <div class="col">
                        <div class="mb-3">
                          <!-- Size -->
                          <label for="exampleFormControlInput1" class="form-label text-center">Tamaño</label>
                          <select class="form-select form-select-sm " aria-label="Small select example" formControlName="size" >
                            <option value="grande">Grande</option>
                            <option value="mediano">Mediano</option>
                            <option value="pequeño">Pequeño</option>
                          </select> 
                        </div>
                      </div>
                      <div class="col">
                        <div class="mb-3">
                            <!-- Sexo of animal -->
                            <label for="exampleFormControlInput1" class="form-label text-center">Sexo</label>
                            <select class="form-select form-select-sm " aria-label="Small select example" formControlName="sexo" >
                              <option value="macho">Macho</option>
                              <option value="hembra">Hembra</option>
                            </select>
                        </div>
                      </div>              
                    </div>
                  </div>
               
                  <!-- Age and Peso -->
                  <div class="container text-center selectAyP">
                    <div class="row row-cols-2">
                      <div class="col">
                        <div class="mb-3">
                          <!-- Age -->
                          <label for="exampleFormControlInput1" class="form-label text-center">Edad</label>
                          <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="age">
                        </div>
                      </div>
                      <div class="col">
                        <div class="mb-3">
                          <!-- Peso -->
                          <label for="exampleFormControlInput1" class="form-label text-center">Peso</label>
                          <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="peso">
                        </div>
                      </div>              
                    </div>
                  </div> 
                  <!-- Castrado o no -->
                  <div class="select-container">
                    <label for="exampleFormControlInput1" class="form-label text-center">Castrado(a)</label>
                    <select class="form-select form-select-sm " aria-label="Small select example" formControlName="castrated" >
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                  <br>
                  <!-- Vacunas -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Vacunas</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="vaccines">    
                  </div>

                   <!-- Country and City -->
                    <div class="container text-center selectPyC">
                      <div class="row row-cols-2">
                        <div class="col">
                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label" >País</label>
                            <select class="form-select form-select-sm aaa" aria-label="Small select example" formControlName="country">
                              <option value="argentina">Argentina</option>
                              <option value="chile">Chile</option>
                              <option value="peru">Perú</option>
                              <option value="venezuela">Venezuela</option>
                            </select>
                          </div>
                        </div>
                        <div class="col">
                          <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label" >Ciudad</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="city">
                          </div>
                        </div>              
                      </div>
                    </div>

              </div>
            </div>
          </div>
          <br>
           <!-- Button Save-->
           <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn-post" type="submit">Publicar</button>        
          </div>
          <br>
          
          <!-- Carrousel -->
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

</form>

