<div class="refuge-pf-container">
  <img src="{{objProfileRefuge.imgURL}}" alt="logo del refugio"/>
  <h4>{{objProfileRefuge.name}}</h4>
  <p>{{objProfileRefuge.country}} - {{objProfileRefuge.city}}</p>
  <ul class="social-red-container">
    <li>
      <a href="{{objProfileRefuge.linkFacebook}}" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
    </li>
    <li>
      <a href="{{objProfileRefuge.linkInstagram}}" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li>
      <a href="{{objProfileRefuge.linkWhatsApp}}" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="{{objProfileRefuge.linkPageWeb}}" target="_blank">
        <i class="bi bi-globe"></i>
      </a>
    </li>
  </ul>
  <p>{{objProfileRefuge.description}}</p>
  <p>Aceptamos donaciones de: {{objProfileRefuge.donations}}</p>
</div>
