<div class="refuge-pf-container">
  <img src="../../../../../assets/addImage.jpg" alt="logo del refugio"/>
  <h4>Nombre del refugio</h4>
  <p>País - ciudad</p>
  <ul class="social-red-container">
    <li>
      <a>
        <i class="bi bi-facebook"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-whatsapp"></i>
      </a>
    </li>
    <li>
      <a>
        <i class="bi bi-globe"></i>
      </a>
    </li>
  </ul>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>Aceptamos donaciones de: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
