<div class="adopt-container">
  <button class="btn-toggle-search" (click)="toggleMenuSearch()">{{textBtnSearch}}</button>
  <div class="search-container" [ngClass]="{'active': isMenuActive}">
    <img src="../../../../assets/dashboardPG.png" alt="Un perro y un gato felices"/>
    <div class="container-fluid div-search-container">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2 input-search-container"
          type="search"
          placeholder="Buscar"
          aria-label="Search"
          [(ngModel)]="nameSearch"
          [ngModelOptions]="{standalone: true}"
          (input)="onSearchNameAdopt()">
      </form>
      <button class="btn-clear" (click)="resetFilters()">Limpiar filtros</button>
    </div>
    <div class="filter-container">
      <div class="one-filter-container" >
        <label>Especie</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.species" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="gato">Gato</option>
          <option value="perro">Perro</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>Sexo</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.sex" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="macho">Macho</option>
          <option value="hembra">Hembra</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>Edad</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.age" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="0a3">0 - 3 años</option>
          <option value="3a6">3 - 6 años</option>
          <option value="6a+">+6 años</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>Tamaño</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.size" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="pequeño">Pequeño</option>
          <option value="mediano">Mediano</option>
          <option value="grande">Grande</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>País</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.country" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="argentina">Argentina</option>
          <option value="peru">Perú</option>
          <option value="chile">Chile</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>Ciudad</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.city" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="buenosAires">Buenos Aires</option>
          <option value="lima">Lima</option>
          <option value="concepcion">Concepción</option>
        </select>
      </div>
      <div class="one-filter-container">
        <label>Refugio</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="filters.refuge" (change)="applyFilters()">
          <option selected [ngValue]="null">Elige una opción</option>
          <option value="4patas">4 Patas</option>
          <option value="vozAnimal">Voz animal</option>
          <option value="callejeritos">Callejeritos</option>
        </select>
      </div>
    </div>
  </div>
  <div class="all-cards-container">
    <h2>¿Serias mi mami o papi humano?</h2>
    <div class="cards-container">
      <div class="card" *ngFor="let one of filteredObjAdopt">
        <img src="{{one.imageUrl}}" class="card-img-top" alt="{{one.name}}">
        <div class="card-body">
          <p class="card-text">{{one.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
