<footer>
  <div>
    <img src="../../../../assets/tittle.png" alt="Logo de la app, adóptame, con una huella en vez de la o"/>
    <p>"Nuestros compañeros perfectos nunca tienen menos de cuatro patas"  ...  Colette</p>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/home']">Inicio</a></li>
      <li><a [routerLink]="['/home/aboutUs']">Quienes somos</a></li>
      <li><a [routerLink]="['/dashboard']">Adoptar</a></li>
    </ul>
  </nav>
  <p>Todos los Derechos Reservados Ⓒ Copyright 2024 - Adóptame</p>
</footer>
