<main>
  <br>
  <div class="container ">
    <div class="row">
      <!-- Perfil del Refugio -->
      <div class="col-4">
           <h1 class="form-title">PERFIL DEL REFUGIO</h1>
           <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <!-- <img src="../../../../assets/addImage.jpg" class="rounded mx-auto d-block" alt="..."> -->
              <img [src]="image" *ngFor="let image of images" class="rounded mx-auto d-block" alt="...">
              <br>
              <input class="form-control" type="file" id="formFile" (change)="uploadImage($event)" formControlName="image">
              <br>
              <!-- Name -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-center" >Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
              </div>
              
              <!-- Country and City -->
              <div class="container text-center">
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label" >País</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="country">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label" >Ciudad</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="city">
                    </div>
                  </div>              
                </div>
              </div>

              <!-- Description -->
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" >Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
              </div>

              <!-- Red Social -->
              <label for="exampleFormControlInput1" class="form-label">Redes sociales</label>
              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-facebook"></i></div>
                  <input type="text" class="form-control" placeholder="Facebook" formControlName="linkFacebook">
                </div>
              </div><br>

              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-instagram"></i></div>
                  <input type="text" class="form-control" placeholder="Instagram" formControlName="linkInstagram">
                </div>
              </div><br>

              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-whatsapp"></i></div>
                  <input type="text" class="form-control" placeholder="WhatsApp" formControlName="linkWhatsApp">
                </div>
              </div><br>
              
              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-globe"></i></div>
                  <input type="text" class="form-control" placeholder="Link Página Web" formControlName="linkPageWeb">
                </div>
              </div><br>

              <!-- Donations -->
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Aceptan Donaciones de</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="donations"></textarea>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn-save" type="submit">Guardar</button>
                
              </div>

           </form>
          
      </div>

        <!-- Perfil del Animal -->
      <div class="col-8">
        <h1 class="form-title">RESCATADITOS EN ADOPCIÓN</h1>
        <br>
          <div class="container ">           
            <div class="row">
              <!-- Photho, Descriptions of animal and history -->
              <div class="col-6">
                    <!-- Photo of animal -->
                    <div class="container text-center">       
                      <div class="row">
                        <div class="col-6">
                          <img src="../../../../assets/addImage.jpg" class="rounded mx-auto d-block" alt="...">
                          <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="col-6">
                          <img src="../../../../assets/addImage.jpg" class="rounded mx-auto d-block" alt="...">
                          <input class="form-control" type="file" id="formFile">
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="container text-center">       
                      <div class="row">
                        <div class="col-6">
                          <img src="../../../../assets/addImage.jpg" class="rounded mx-auto d-block" alt="...">
                          <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="col-6">
                          <img src="../../../../assets/addImage.jpg" class="rounded mx-auto d-block" alt="...">
                          <input class="form-control" type="file" id="formFile">
                        </div>
                      </div>
                    </div>
                     <br>
                    <!-- Description of animal -->
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Descripción del rescatadito(a)</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <!-- Story of his rescue -->
                    <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Historia de su rescate</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
              </div>


              <!-- Name, sexo, edad, peso, castrado, vacunas  -->
              <div class="col-6">
                  <!-- Name -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Nombre del rescatadito(a)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                  </div> 

                  <!-- Sexo of animal -->
                  <div class="select-container">
                    <label for="exampleFormControlInput1" class="form-label text-center">Sexo</label>
                    <select class="form-select form-select-sm " aria-label="Small select example" >
                      <option value="macho">Macho</option>
                      <option value="hembra">Hembra</option>
                    </select>
                  </div>
                  <br>

                  <!-- Age -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Edad</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                  </div>

                  <!-- Peso -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Peso</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                  </div>


                  <!-- Castrado o no -->
                  <div class="select-container">
                    <label for="exampleFormControlInput1" class="form-label text-center">Castrado(a)</label>
                    <select class="form-select form-select-sm " aria-label="Small select example" >
                      <option value="si">Si</option>
                      <option value="no">No</option>
                    </select>
                  </div>
                  <br>
                  <!-- Vacunas -->
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label text-center">Vacunas</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"><br>
                    <input type="text" class="form-control" id="exampleFormControlInput1"><br>
                    <input type="text" class="form-control" id="exampleFormControlInput1"><br>
                  </div>
              </div>
            </div>
          </div>

           <!-- Button Save-->
           <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn-post" type="button">Publicar</button>        
          </div>
          <br>
          
          <!-- Carrousel -->
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Betún</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Oscar</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="../../../../assets/animal3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">Kiki</h5>
                        </div>
                        
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

      </div>
      

      

    </div>
  </div>
<br>


 




</main>