main {
    background-image: url(../../../../assets/backgroundModal.png);
}

.imgAdd {
  width: 15%;
  margin: 9% 0%;
}

.imgPhoto{
  margin: 9% 0% 0% 0%;
  width: 30%;
 
}
.btnImg{
    margin: 17% 0% 0% 0%;
}

.col-4 {
    border-right: var(--color-tertiary) 2px solid;
}

.form-title{
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.form-label {
    font-family: var(--font-family-primary);
    color: var(--color-primary);
    font-weight: bold;
}

.btn-save{
    border-color: var(--color-primary);
    border-radius: 40px;
    height: 35px; 
}

/* Style for Country and City */
.selectPyC{
    padding-inline: 0% 10%;
}




@media screen and (max-width: 600px) {
    .perfilRefuge, .perfilAnimal {
        width: 100%;
    }

    .perfilAnimal{
        margin: 7% 0% 0% 0%;
    }
  
  }