<main>
  <br>
  <div class="container ">
    <div class="row">
      <!-- Perfil del Refugio -->
      <div class="col-4">
           <h1 class="form-title">PERFIL DEL REFUGIO</h1>
           <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-3">  
              <!-- <img src="../../../../assets/addImage.jpg" class=" rounded mx-auto d-block imgAdd" alt="...">  -->
              <img  [src]="oneImg" class="rounded mx-auto d-block imgPhoto " alt="..." >
               <input class="form-control btnImg" type="file" id="formFile" (change)="uploadImage($event)" formControlName="image">
             
            </div> 
    
              <!-- Name -->
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label text-center" >Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name">
              </div>
              
              <!-- Country and City -->
              <div class="container text-center selectPyC">
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label" >País</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="country">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label" >Ciudad</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="city">
                    </div>
                  </div>              
                </div>
              </div>

              <!-- Description -->
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" >Descripción</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
              </div>

              <!-- Red Social -->
              <label for="exampleFormControlInput1" class="form-label">Redes sociales</label>
              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-facebook"></i></div>
                  <input type="text" class="form-control" placeholder="Facebook" formControlName="linkFacebook">
                </div>
              </div><br>

              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-instagram"></i></div>
                  <input type="text" class="form-control" placeholder="Instagram" formControlName="linkInstagram">
                </div>
              </div><br>

              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-whatsapp"></i></div>
                  <input type="text" class="form-control" placeholder="WhatsApp" formControlName="linkWhatsApp">
                </div>
              </div><br>
              
              <div class="col-12">
                <label class="visually-hidden"></label>
                <div class="input-group">
                  <div class="input-group-text"><i class="bi bi-globe"></i></div>
                  <input type="text" class="form-control" placeholder="Link Página Web" formControlName="linkPageWeb">
                </div>
              </div><br>

              <!-- Donations -->
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Aceptan Donaciones de</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="donations"></textarea>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn-save" type="submit">Guardar</button>
                
              </div>

           </form>
          
      </div>

        <!-- Perfil del Animal -->
      <div class="col-8">
        <app-adopt-forms-animal-rescued></app-adopt-forms-animal-rescued>
      </div>
    </div>
  </div>
<br>


 




</main>