<div class="p-3 animal-profile-container">
  <div class="slider-container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active carousel-heigth">
          <img src="{{objProfileAnimal.imgURL1}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL2}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL3}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL4}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="pt-4 pb-5 information-animal-container">
    <div class="auth-btn-container" *ngIf="statusBtnsForEdit">
      <button
        (click)="openModalEdit()"
        data-bs-toggle="modal"
        data-bs-target="#myModalEdit">
        <span class="material-symbols-outlined">
          edit_note
        </span>
      </button>
      <button
        (click)="openModalDelete()"
        data-bs-toggle="modal"
        data-bs-target="#myModalDelete">
        <span class="material-symbols-outlined">
          delete
        </span>
      </button>
    </div>
    <h2><strong>{{objProfileAnimal.name.toUpperCase()}}</strong></h2>
    <div>
      <strong>Sexo: </strong>
      <p>{{objProfileAnimal.sexo}}</p>
    </div>
    <div>
      <strong>Edad: </strong>
      <p>{{objProfileAnimal.age}} años</p>
    </div>
    <div>
      <strong>Peso: </strong>
      <p>{{objProfileAnimal.peso}} kl</p>
    </div>
    <div>
      <strong>Vacunas: </strong>
      <p>{{objProfileAnimal.vaccines}}</p>
    </div>
    <div>
      <strong>Castrado(a): </strong>
      <p>{{objProfileAnimal.castrated}}</p>
    </div>
    <div>
      <strong>Ciudad: </strong>
      <p>{{objProfileAnimal.city}}</p>
    </div>
    <div>
      <strong>Descripción: </strong>
      <p>{{objProfileAnimal.description}}</p>
    </div>
    <div>
      <strong>Su historia: </strong>
      <p>{{objProfileAnimal.history}}</p>
    </div>
    <div class="btn-profile-adopt">
      <button>Adoptar</button>
    </div>
  </div>
  <div class="refuge-profile-container">
    <app-refuge-profile></app-refuge-profile>
  </div>
  <div class="chat-container">
    <strong>Puedes dejar tus comentarios aquí</strong>
    <textarea placeholder="Escribe aquí"></textarea>
    <button>Publicar</button>
    <div class="comentary-container comentary-container-person">
      <span class="comentary-span-person">Amanda</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="comentary-container comentary-container-refuge">
      <span class="comentary-span-refuge">Refugio colitas felices</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="myModalDelete">
  <div class="modal-dialog">
    <div class="modal-content modal-delete">
      <div class="modal-body">
        <p>¿Está seguro(a) que desea eliminar esta publicación?</p>
      </div>
      <div class="modal-footer modal-footer-btns">
        <button type="button" class="btn" (click)="deleteProfile()" data-bs-dismiss="modal">Si, eliminar</button>
        <button type="button" class="btn" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="myModalEdit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-body-edit p-4">
        <form [formGroup]="profileAnimalForm">
          <div class="pair-input-profile">
            <div class="mb-3">
              <label for="nameAnimal" class="form-label">Nombre: </label>
              <input type="text" class="form-control" id="nameAnimal">
            </div>
            <div class="mb-3">
              <div class="select-container">
                <label for="selectSpecies" class="form-label text-center">Especie: </label>
                <select class="form-select form-select-sm " aria-label="Small select example" formControlName="species" id="selectSpecies">
                  <option value="Perro">Perro</option>
                  <option value="Gato">Gato</option>
                </select>
              </div>
            </div>
          </div>
          <div class="pair-input-profile">
            <div class="mb-3">
              <label for="edadAnimal" class="form-label">Edad: </label>
              <input type="number" class="form-control" id="edadAnimal">
            </div>
            <div class="mb-3">
              <label for="pesoAnimal" class="form-label">Peso: </label>
              <input type="number" class="form-control" id="pesoAnimal">
            </div>
          </div>
          <div class="pair-input-profile">
            <div class="mb-3">
              <div class="select-container">
                <label for="selectCastrated" class="form-label text-center">Castrado(a): </label>
                <select class="form-select form-select-sm " aria-label="Small select example" formControlName="castrated" id="selectCastrated">
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="cityAnimal" class="form-label">Ciudad: </label>
              <input type="text" class="form-control" id="cityAnimal">
            </div>
          </div>
          <div class="mb-3">
            <label for="vaccineAnimal" class="form-label">Vacunas: </label>
            <input type="text" class="form-control" id="vaccineAnimal">
          </div>
          <div class="mb-3">
            <label for="descriptionAnimal" class="form-label">Descripción: </label>
            <textarea class="form-control" id="descriptionAnimal" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="historyAnimal" class="form-label">Historia: </label>
            <textarea class="form-control" id="historyAnimal" rows="3"></textarea>
          </div>
          <div class="modal-footer modal-footer-btns">
            <button type="button" class="btn" data-bs-dismiss="modal">Actualizar</button>
            <button type="button" class="btn" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
