<div class="p-3 animal-profile-container">
  <div>
    <button></button>
    <button></button>
  </div>
  <div class="slider-container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active carousel-heigth">
          <img src="{{objProfileAnimal.imgURL1}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL2}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL3}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
        <div class="carousel-item carousel-heigth">
          <img src="{{objProfileAnimal.imgURL4}}" class="d-block w-100" alt="Animal buscando un hogar" style="object-position: center;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="pt-4 pb-5 information-animal-container">
    <h2><strong>{{objProfileAnimal.name.toUpperCase()}}</strong></h2>
    <div>
      <strong>Sexo: </strong>
      <p>{{objProfileAnimal.sexo}}</p>
    </div>
    <div>
      <strong>Edad: </strong>
      <p>{{objProfileAnimal.age}} años</p>
    </div>
    <div>
      <strong>Peso: </strong>
      <p>{{objProfileAnimal.peso}} kl</p>
    </div>
    <div>
      <strong>Vacunas: </strong>
      <p>{{objProfileAnimal.vaccines}}</p>
    </div>
    <div>
      <strong>Castrado(a): </strong>
      <p>{{objProfileAnimal.castrated}}</p>
    </div>
    <div>
      <strong>Ciudad: </strong>
      <p>{{objProfileAnimal.city}}</p>
    </div>
    <div>
      <strong>Descripción: </strong>
      <p>{{objProfileAnimal.description}}</p>
    </div>
    <div>
      <strong>Su historia: </strong>
      <p>{{objProfileAnimal.history}}</p>
    </div>
    <div class="btn-profile-adopt">
      <button>Adoptar</button>
    </div>
  </div>
  <div class="refuge-profile-container">
    <app-refuge-profile></app-refuge-profile>
  </div>
  <div class="chat-container">
    <strong>Puedes dejar tus comentarios aquí</strong>
    <textarea placeholder="Escribe aquí"></textarea>
    <button>Publicar</button>
    <div class="comentary-container comentary-container-person">
      <span class="comentary-span-person">Amanda</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="comentary-container comentary-container-refuge">
      <span class="comentary-span-refuge">Refugio colitas felices</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
