.animal-profile-container{
  background-image: url(../../../../assets/backgroundModal.png);
  font-family: var(--font-family-primary);
  display: grid;
}

.slider-container{
  width: 100%;
  grid-area: slider;
}

.information-animal-container{
  width: 100%;
  grid-area: info;
}

.information-animal-container div{
  display: flex;
}

.information-animal-container div strong{
  margin-right: 10px;
  white-space: nowrap;
}

.information-animal-container button{
  padding: 8px 40px;
  background-color: var(--color-primary);
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  color: var(--color-secondary);
}

.btn-profile-adopt{
  justify-content: center;
  margin-top: 20px;
}

.chat-container{
  width: 100%;
  padding-inline: 30px;
  grid-area: chat;
}

.chat-container strong{
  display: block;
}

.chat-container textarea{
  width: 100%;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.254);
  padding: 15px 30px;
  resize: none;
  height: 150px;
  margin: 20px 0 5px 0;
}

.chat-container button{
  padding: 6px 35px;
  border-radius: 20px;
  border-style: none;
  background-color: var(--color-secondary);
  border: 2px solid rgba(0, 0, 0, 0.254);
  font-size: small;
  color: var(--color-tertiary);
}

.comentary-container{
  background-color: rgb(231, 231, 231);
  border-radius: 25px;
  width: 100%;
  padding: 15px 30px 30px 30px;
  margin: 20px 0;
}

.comentary-container-person{
  border: 3px solid #f9cdaf;
}

.comentary-span-person{
  color: #F6802B;
}

.comentary-container-refuge{
  border: 3px solid #a9d4d2;
}

.comentary-span-refuge{
  color: var(--color-primary);
}

.comentary-container span{
  font-weight: bold;
}

.comentary-container p{
  margin: 0;
}

.refuge-profile-container{
  width: 100%;
  background-color: rgba(5, 7, 19, 0.075);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px;
  grid-area: refuge;
}

.carousel-heigth{
  background-color: rgb(176, 176, 176);
}


@media screen and (max-width: 1023px) {

  .refuge-profile-container{
    padding: 25px 10px 25px 10px;
    margin: 50px 0;
  }

  .animal-profile-container{
    grid-template-areas: "slider"
                        "info"
                        "refuge"
                        "chat";
  }

  .carousel-heigth{
    height: 94vw;
  }
}

@media screen and (min-width: 1024px) {

  .animal-profile-container{
    grid-template-areas: "slider info"
                          "refuge chat" ;
    gap: 40px;
    grid-template-columns: 40% 1fr;
  }

  .slider-container{
    padding: 40px;
  }

  .information-animal-container div p{
    padding-right: 40px;
  }

  .refuge-profile-container{
    margin-inline: 30px;
    padding-inline: 4px;
    width: 95%;
  }

  .carousel-heigth{
    height: 33vw;
  }
}



